* {
  padding: 0px;
  margin: 0px;
}

.heronav{
  background-color: #131921 !important;
}

.navsearchbtn{
color: white !important;
border: 1px solid white;
}

.navsearchbtn:hover{
  color: black !important;
  background-color:aliceblue;
}


/*Catagory Card*/
.catagoryCard{
  width: 100% !important;
  height:300px !important;
  display: flex !important;
  flex-direction: row !important;
  background-color: rgb(255, 255, 255)  !important ;
  border: 0px !important;
}

.Catcardimg{
  width: 400px !important;
  object-fit: contain;
  height: 300px;
  padding: 10px;
}
.Catcardbody{
  padding: 50px !important;
  background-color: white !important;
}

.Nav2{
  background-color: #232f3e !important;
}
.nav2link{
  color: white;
  text-decoration: none !important;
}