* {
  padding: 0px;
  margin: 0px;
}

.heronav {
  background-color: #131921 !important;
}

.navsearchbtn {
  color: white !important;
  border: 1px solid white;
}

.navsearchbtn:hover {
  color: black !important;
  background-color: aliceblue;
}


/*Catagory Card*/
.catagoryCard {
  width: 100% !important;
  height: 300px !important;
  display: flex !important;
  flex-direction: row !important;
  background-color: rgb(255, 255, 255) !important;
  border: 0px !important;
}

.Catcardimg {
  width: 400px !important;
  object-fit: contain;
  height: 300px;
  padding: 10px;
}

.Catcardbody {
  padding: 50px !important;
  background-color: white !important;
}

.Nav2 {
  background-color: #232f3e !important;
}

.nav2link {
  color: white;
  text-decoration: none !important;
}

/* Produc tpage */
.productscarosal {
  padding: 100px !important;
}

.produccarosalimg img{
  height:  500px;
  object-fit: contain !important;
}

.productsbody {
  width: 550px;
  padding: 100px 0px 100px 100px !important;
}
.productsbody2{
  border: 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px gray;
  padding: 40px 70px !important;
}
.productdeals{
  width: 50px;
  background-color: rgb(234, 38, 38);
  border: 1px solid  rgb(234, 38, 38);
  border-radius: 10%;
  text-align: center;
  font-weight: 400 ;
  color:white;
}

.productpageli{
  list-style: none;
}

.productpageli div{
  width:80px;  
  display: flex;
  flex-direction: column;
  text-align: center !important;
  justify-content: center;
  align-items: center;
  margin: 11px;
}

.productpageli div img{
  width: 40px;
}

.productpagecarqty{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productpagecarqty div {
  width: 200px;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.productpagecarqty div button{
  width: 40px;
  border: 1px solid gray;
  border-radius: 2px;
  background-color: transparent;
}

.productpagecarqty div button:hover{
  background-color: rgb(225, 213, 213);
}
.productpagecarqty div div{
  width: 50px !important;
  background-color:aliceblue ;
  margin: 0px 9px ;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 0px;
  box-shadow: 0px 0px 5px gray;
}

.productpagebtn{
  width: 200px;
  background-color: rgb(234, 133, 45);
  border:  0px solid white;
  border-radius: 3PX;
  margin-top: 8px;
  box-shadow: 0px 0px 5px gray;
}

.productpagebtn:hover{
  opacity: 0.9;
}

/* Cart */

.cart{
  width: 100% !important;
  display: flex ;
  flex-direction: column;
  justify-content: center ;
  align-items: center;
}

.cartback{
  width:80%;
  height:80px;
  align-items: center;
}

.cartback div button{
  background-color: transparent;
  border: 0px;
  margin-left: 30px;
  margin-right: 50px;
  font-size:larger !important;
} 

.carthead{
  width:80%;
  height:100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 5%;  
}


.cartcardss{
  width:1000px;
  height: 500px;
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  overflow: scroll;
  border: 0px solid black;
  box-shadow: 0px 0px 6px gray;
  padding: 10px;
}

.cartcardss div{
  width: 85%;
}

.cartcardss::-webkit-scrollbar{
  display: none;
}

.carttotal{
  width: 20% !important;
  margin-top: 30px;
  text-align: center;
}

.carttotal div div {
   display: flex;
    justify-content: space-around;
    margin-top: 15px !important;
}

.carttotal div div button {
  width: 100px !important;
  
}

/* Cart card */

.cartcard{
  width: auto!important;
  height:  100px !important;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: 0px;
}

.cartcardimg{
  width: 8%;
}

.cartcardbody{
  width: 100% !important;
  display:  flex;
  justify-content: space-between;
  margin-left: 8%;
}

.cartcardbody p {
  width: 230px;
  overflow: hidden;
}
.cartcardbody div{
  width: 10% !important;
  display:  flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center;
}

.cartcardbody div div{
  width: 50px !important;
  background-color: aliceblue;
  border: 0px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px white;
}

.cartcardbody div button{
  width: 50%;
  border: 0px;
  background-color: transparent !important;
}