* {
  padding: 0px;
  margin: 0px;
}

.heronav {
  background-color: #131921 !important;
}

.navsearchbtn {
  color: white !important;
  border: 1px solid white;
}

.navsearchbtn:hover {
  color: black !important;
  background-color: aliceblue;
}


/*Catagory Card*/
.catagoryCard {
  width: 100% !important;
  height: 300px !important;
  display: flex !important;
  flex-direction: row !important;
  background-color: rgb(255, 255, 255) !important;
  border: 0px !important;
}

.Catcardimg {
  width: 400px !important;
  object-fit: contain;
  height: 300px;
  padding: 10px;
}

.Catcardbody {
  padding: 50px !important;
  background-color: white !important;
}

.Nav2 {
  background-color: #232f3e !important;
}

.nav2link {
  color: white;
  text-decoration: none !important;
}

/* Produc tpage */
.productscarosal {
  padding: 150px !important;
}

.produccarosalimg{
  height:  400px !important;
  width:  400px !important;
}

.produccarosalimg{
  height:  500px;
  object-fit: cover !important;
}
.productsbody {
  padding: 150px !important;
}

.productdeals{
  width: 50px;
  background-color: rgb(234, 38, 38);
  border: 1px solid  rgb(234, 38, 38);
  border-radius: 10%;
  text-align: center;
  font-weight: 400 ;
  color:white;
}

.productpageli{
  list-style: none;
}

.productpageli div{
  width:80px;  
  display: flex;
  flex-direction: column;
  text-align: center !important;
  justify-content: center;
  align-items: center;
  margin: 11px;
}

.productpageli div img{
  width: 50px;
}

.productpagebtn{
  width: 40%;
  background-color: rgb(234, 133, 45);
  border:  0px solid white;
  border-radius: 30PX;
}

/* Cart */

.cart{
  width: 100% !important;
  display: flex ;
  flex-direction: column;
  justify-content: center ;
  align-items: center;
}

.cartback{
  width:80%;
  height:80px;
  align-items: center;
}

.cartback div button{
  background-color: transparent;
  border: 0px;
  margin-left: 30px;
  margin-right: 50px;
  font-size:larger !important;
} 

.carthead{
  width:80%;
  height:100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 5%;  
}


.cartcardss{
  width:72%;
  height: 500px;
  display: flex;
  justify-content: center;
  overflow: scroll;
  border: 0px solid black;
  box-shadow: 0px 0px 6px gray;
  padding: 10px;
}

.cartcardss::-webkit-scrollbar{
  display: none;
}

.carttotal{
  width: 12% !important;
  margin-top: 30px;
}

.carttotal div{
  display: flex !important;
  flex-direction: column;
}

/* Cart card */

.cartcard{
  width: 1000px !important;
  height:  100px !important;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.cartcardimg{
  width: 8%;
}

.cartcardbody{
  display:  flex;
  justify-content: space-between;
  margin-left: 8%;
}

.cartcardbody div{
  width: 10% !important;
  display:  flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center;
}

.cartcardbody div div{
  width: 50px !important;
  background-color: aliceblue;
  border: 0px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px white;
}

.cartcardbody div button{
  width: 50%;
  border: 0px;
  background-color: transparent !important;
}